<h2 mat-dialog-title>Neuen Besitzer eintragen</h2>

<mat-dialog-content style="padding-top: 10px; display: flex; flex-direction: column; gap: 10px; min-width: 400px;">
  
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Vollständiger Name</mat-label>
    <input matInput [(ngModel)]="data.name" placeholder="z.B. Max Mustermann" required>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>E-Mail Adresse</mat-label>
    <input matInput [(ngModel)]="data.mail" type="email" placeholder="beispiel@mail.de">
  </mat-form-field>

  <div style="display: flex; gap: 15px;">
    <mat-form-field appearance="outline" style="flex: 1;">
      <mat-label>Wohnort</mat-label>
      <input matInput [(ngModel)]="data.wohnort" placeholder="Ort" required>
    </mat-form-field>

    <mat-form-field appearance="outline" style="flex: 1;">
      <mat-label>Besitz seit</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="data.datum">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Abbrechen</button>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="!data.name || !data.wohnort">
    Speichern
  </button>
</mat-dialog-actions>