<div class="steckbrief-container">
  <div class="align-header">
    <h2>System-Einstellungen</h2>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="steckbrief-grid">
      
      <mat-card class="section-card">
        <mat-card-header>
          <mat-card-title>Allgemeine Konfiguration</mat-card-title>
        </mat-card-header>
        
        <mat-card-content style="padding-top: 20px;">
          <div class="attribute-list">
            
            <div class="attribute-row" style="border-bottom: none;">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Zuchtbuchstelle</mat-label>
                <input matInput formControlName="zuchtbuchstelle">
                <mat-icon matSuffix>account_balance</mat-icon>
              </mat-form-field>
            </div>

            <div class="attribute-row" style="border-bottom: none;">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Geschäftsstelle</mat-label>
                <input matInput formControlName="geschaeftsstelle">
                <mat-icon matSuffix>business</mat-icon>
              </mat-form-field>
            </div>

          </div>
        </mat-card-content>
      </mat-card>

    </div>

    <div style="text-align: right; margin-top: 30px;">
      <button mat-raised-button color="primary" type="submit">
        Speichern
      </button>
    </div>
  </form>
</div>